<!--
<select class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched" ng-model="selectedName" multiple title="sat pick" ng-options="tle.name for tle in tles">
</select>

  <select class = "js-states form-control" title="Pick a Sat" data-live-search="true">
    <option value="sat1">SAT-ONE</option>
    <option value="sat2">SAT-TWO</option>
    <option value="sat3">SAT-THREE</option>
    <option value="sat4">SAT-FOUR</option>
    <option value="sat5">SAT-FIVE</option>
    <option value="sat6">SAT-SIX</option>
  </select>-->
 
<!DOCTYPE html>
<html>
<head>

</head>
<body>

<div class = "table_drop_down" style="margin-left: 30px">

<div class = "drop-down" style="margin-bottom: 20px ; margin-left:12px">
<select class="selectpicker" data-live-search="true">
  <option data-tokens="TLEEX1">TLE INPUT</option>
  <option data-tokens="TLEEX2">TLEINPUT1</option>
  <option data-tokens="TLEEX3">YERMAW</option>
</select>
<button type="button" ng-click = 'button_click()' id = "button_one" class="btn btn-primary-outline">
  <span class="glyphicon glyphicon-plus"></span>
</button>

</div>

<div class = "container-fluid">
  <div class="row">
  <div class = "col-sm-5">
     <table id = "tleTable" class="display" cellspacing="0" width="100%" >
          <thead>
          <tr>
            <th>Sat Name</th>
            <th>Next Pass</th>
            <th>Duration</th>
          </tr>
          </thead>
          <tbody> 
           <tr ng-repeat="tle in tles">
           <td>{{tle.id}}</td>
           <td>{{tle.name}</td>
           <td>{{tle.name}}</td>
           </tr>
           <tr>
            <td>some data here </td>
           <td> some data there </td>
           <td>some data here </td>
           </tr>
           <tr>
            <td>some data here </td>
           <td> some data there </td>
           <td>some data here </td>
           </tr>
           </div>
          </tbody>
      </table>
  </div>
  </div>
</div> 



<div ng-controller="SchedulerController">
	<!--<h> TLEs: Currently not showing up on my desktop</h>-->

  <table>
  <tr ng-repeat="tle in tles">
    <td>{{ tle.name }}</td>
    <td>{{ tle.id }}</td>
    <td>{{ tle.line1 }}</td>
    <td>{{ tle.line2 }}</td>
  </tr>
</table>

  <div ng-repeat="azels in azel">
    <div style="margin-left:20px;">
      {{azel.azimuth}}
  <br>
 </div>
  </div>

 </div>
 </div>




</body>
</html>
</html>
