<!--
<select class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched" ng-model="selectedName" multiple title="sat pick" ng-options="tle.name for tle in tles">
</select>

  <select class = "js-states form-control" title="Pick a Sat" data-live-search="true">
    <option value="sat1">SAT-ONE</option>
    <option value="sat2">SAT-TWO</option>
    <option value="sat3">SAT-THREE</option>
    <option value="sat4">SAT-FOUR</option>
    <option value="sat5">SAT-FIVE</option>
    <option value="sat6">SAT-SIX</option>
  </select>-->
 
</!DOCTYPE html>
<html>
<head>
</head>
<body>

<div class = drop-down>
<select class="selectpicker" data-live-search="true">
  <option data-tokens="TLEEX1">TLE INPUT</option>
  <option data-tokens="TLEEX2">TLEINPUT1</option>
  <option data-tokens="TLEEX3">YERMAW</option>
</select>
</div>

<style type="text/css">
  /*Drop down*/
  div.drop-down.ng-scope{
    margin-bottom: 1cm;
    margin-left: 19px;
  }
  /*Table*/
  div.tle-table.ng-scope{
    margin-bottom: 1cm;
    padding-left: 19px;
    padding-right: 19px;
  }


</style>

<div class = tle-table>
<table class="table table-sm table-inverse">
  <thead>
    <tr>
      <th>Sat Name</th>
      <th>Next Pass</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    <!-- replace with options etc -->
  </tbody>
</table>
</div>

<div ng-controller="SchedulerController">
	TLEs
	{{hello}}
	<div ng-repeat="tle in tles">
		<div style="margin-left: 20px;">
			{{tle.id}} <br>
			{{tle.name}} <br>
			{{tle.line1}} <br>
			{{tle.line2}} <br>
			<hr/>
		</div>
	</div>
	<br>
</div>

</body>


</html>
</html>
