<div ng-controller="SchedulerController">
    TLEs
	<div ng-repeat="tle in tles">
		<div style="margin-left: 20px;">
            name: {{ tle }} <br/>
            line1: {{ tle.line1 }} <br/>
            line2: {{ tle.line2 }} <br/>
            <hr/>
        </div>
    </div>
    <br/>
</div>
